.about-container {
  margin: 10px;
  background-color: #fdd538;
  font-family: "Poppins", sans-serif;
}

.about-body {
  display: flex;
  height: 100vh;
  /* border: 1px solid green; */
  gap: 10px;
  word-break: break-word;
}
.basic-info {
  /* border: 1px solid red; */
  /* height: 100vh; */
  flex-basis: 50%;
}
.contact-info {
  /* border: 1px solid blue; */
  /* height: 100vh; */
  flex-grow: 1;
}
.info-detail {
  display: flex;
  gap: 10px;
  align-items: center;
}
.info-card {
  margin: 30px;
  background-color: white;
  border-radius: 5px;
  /* height: 100px; */
  padding: 10px;
}
@media all and (max-width: 600px) {
  .about-body {
    flex-direction: column;
    height: auto;
  }
}
