.others {
  margin: 10px;
  /* border: 1px solid green; */
  height: 100vh;
  background-color: #fdd538;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.others-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  /* border: 1px solid rebeccapurple; */
  gap: 30px;
  padding: 20px;
}

.other-proj {
  background-color: white;
  /* height: 100px; */
  flex-basis: 40%;
  /* border: 1px solid rebeccapurple; */
  border-radius: 10px;
  padding: 10px;
}
.links {
  font-weight: 600;
  padding-right: 15px;
}
